@charset "UTF-8";
/*****************************************************   General      ***********************************************/
body {
  padding-top: 4.4rem;
  -webkit-text-size-adjust: none !important;
}
}

.row {
  --mdb-gutter-x: 0 !important;
  /* Set it to 0 to remove horizontal spacing */
}

/***************************************************  Navigation Bar/Menu  *****************************************/
.navbar {
  background-color: #d9c89c !important;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  height: auto;
  padding: 0;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 67%;
          flex: 1 0 67%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-nav .nav-link {
  color: #211e16 !important;
}

.navbar-nav .nav-:hover {
  color: blue !important;
}

.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
}

/*** custom styles for navbar  ***/
.custom-navbar-bg {
  background-color: white !important;
}
.custom-navbar-bg .navbar-brand {
  -webkit-filter: hue-rotate(30deg) brightness(80%) contrast(80%) saturate(150%);
          filter: hue-rotate(30deg) brightness(80%) contrast(80%) saturate(150%);
}

.navbar-toggler {
  background-color: #211e16 !important;
}

.navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg) !important;
}

.custom-toggler-styles {
  background-color: #d9c89c !important;
}

.custom-navlink-color {
  color: blue !important;
}

/******************************************************     Main Section    ******************************************/
/**********************  Hero Section  *******************/
.hero-container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 0.3rem;
  overflow: hidden;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: aliceblue;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}
.hero-text h1 {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 120px;
  font-family: "Creepster", cursive;
}
.hero-text h5 {
  margin-bottom: -7px;
  padding: 0;
  font-size: 30px;
  text-transform: lowercase;
  font-family: "Soehne", system-ui, Helvetica Neue, Arial, sans-serif;
}
.hero-text .btn-invitation {
  margin-top: 10px !important;
  background-color: transparent;
  color: #d9c89c !important;
  height: 8% !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #d9c89c !important;
  padding: 10px 20px;
  font-size: 16px;
}
.hero-text .btn-invitation:hover {
  background-color: #d9c89c !important;
  color: black !important;
  border: 2px solid #d9c89c !important;
}

.overlay-text h2 {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 1.85em;
  font-family: "Soehne", system-ui, Helvetica Neue, Arial, sans-serif;
}

/* Media query for smaller screens */
@media (max-width: 855px) {
  .hero-text h1 {
    font-size: 96px;
  }
  .hero-text h5 {
    margin-bottom: -5px;
    font-size: 24px;
  }
  .hero-text .btn-invitation {
    padding: 10px 20px;
    font-size: 16px;
  }
  .overlay-text h2 {
    font-size: 1.7em;
  }
}
/* Media query for even smaller screens */
@media (max-width: 675px) {
  .hero-text h1 {
    font-size: 76px;
  }
  .hero-text h5 {
    margin-bottom: -5px;
    font-size: 24px;
  }
  .overlay-text h2 {
    font-size: 1.3em;
  }
}
/* Media query for even smaller screens */
@media (max-width: 540px) {
  .hero-text h1 {
    font-size: 30px;
  }
  .hero-text h5 {
    margin-bottom: -3px;
    font-size: 18px;
  }
  .hero-text .btn-invitation {
    padding: 8px 16px;
    font-size: 12px;
  }
  .overlay-text h2 {
    font-size: 0.9em;
  }
}
/***********************  Main Content Section ********************/
.main-content {
  background-color: white;
  padding: 0 !important;
  margin: 0 !important;
}

.animation-text-buffer {
  padding-top: 12px !important;
  height: 34rem;
  max-height: 45rem;
  /* Set the maximum height for the animation text buffer */
  overflow-y: auto;
  /* Add vertical scrollbar if content exceeds the max height */
  background-color: #d9c89c !important;
  color: #211e16 !important;
  font-family: "Jost", sans-serif;
  font-size: 1.85em;
  margin: 0;
  letter-spacing: 0.2rem;
  font-weight: bold;
  padding: 10px;
  /* Add some padding for better spacing */
  border: 1px solid #ccc;
  /* Add a border for better separation */
}

.animation-text {
  margin-left: 25px;
}

/* Media query for smaller screens */
@media (max-width: 855px) {
  .animation-text-buffer {
    height: 40rem;
    max-height: 40rem;
    /* Set the maximum height for the animation text buffer */
    font-size: 1.7em;
  }
}
/* Media query for even smaller screens */
@media (max-width: 675px) {
  .animation-text-buffer {
    height: 36.5rem;
    max-height: 36.5rem;
    /* Set the maximum height for the animation text buffer */
    font-size: 1.3em;
  }
}
/* Media query for even smaller screens */
@media (max-width: 445px) {
  .animation-text-buffer {
    font-size: 1.05em;
  }
}
.section-buffer {
  padding-top: 12px !important;
  height: auto;
  background-color: #d9c89c !important;
  color: #211e16 !important;
  margin: 0;
  letter-spacing: 0.2rem;
  padding: 10px;
  border: 1px solid #ccc;
}
.section-buffer h5 {
  font-size: 2.25em;
  font-family: "Soehne", system-ui, Helvetica Neue, Arial, sans-serif;
  font-weight: bold;
}
.section-buffer p {
  font-size: 1.65em;
  font-family: "Jost", sans-serif;
}
.section-buffer ul {
  list-style: none;
  padding: 0;
}
.section-buffer ul li {
  margin: 10px 0;
  padding: 10px;
  background-color: #f4f4f4;
  color: #333 !important;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-buffer ul li::before {
  content: "•"; /* Bullet character */
  color: #333 !important;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}
.section-buffer .btn-invitation {
  margin-top: 10px !important;
  background-color: #211e16 !important;
  color: #d9c89c !important;
  height: 5% !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #d9c89c !important;
  padding: 10px 18px;
  font-size: 14px;
}
.section-buffer .btn-invitation:hover {
  background-color: #d9c89c !important;
  color: black !important;
  border: 2px solid #d9c89c !important;
}

@media (max-width: 855px) {
  .section-buffer h5 {
    font-size: 2em;
  }
  .section-buffer p {
    font-size: 1.45em;
  }
  .section-buffer .btn-invitation {
    padding: 8px 16px !important;
    font-size: 12px !important;
  }
}
@media (max-width: 675px) {
  .section-buffer h5 {
    font-size: 1.95em;
  }
  .section-buffer p {
    font-size: 1.2em;
  }
}
@media (max-width: 445px) {
  .section-buffer h5 {
    font-size: 1.6em;
  }
  .section-buffer p {
    font-size: 1.05em;
  }
  .section-buffer .btn-invitation {
    padding: 6px 14px !important;
    font-size: 9px !important;
  }
}
.image-text-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  width: 100%;
  overflow: hidden;
  padding: 160px;
}
.image-text-container img {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: slide-in 2s forwards;
          animation: slide-in 2s forwards; /* Animation to slide image in */
}
.image-text-container .text-content {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(transparent, transparent), radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.8) 100%); /* Shape gradient */
  padding: 5px;
  border-radius: 8px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: slide-up 2s forwards;
          animation: slide-up 2s forwards; /* Animation to slide text up */
  height: auto;
}
.image-text-container h2 {
  font-size: 44px;
  color: lightgoldenrodyellow;
}
.image-text-container p {
  font-size: 1.5em;
  font-family: "Jost", sans-serif;
  color: rgb(245, 244, 255);
  font-weight: 500;
}

@media (max-width: 855px) {
  .image-text-container h2 {
    font-size: 32px;
  }
  .image-text-container p {
    font-size: 1.2em;
  }
}
/* Media query for even smaller screens */
@media (max-width: 675px) {
  .image-text-container h2 {
    font-size: 28px;
  }
  .image-text-container p {
    font-size: 1em;
  }
}
/* Media query for even smaller screens */
@media (max-width: 545px) {
  .image-text-container h2 {
    font-size: 24px;
  }
  .image-text-container p {
    font-size: 0.85em;
  }
}

@-webkit-keyframes slide-in {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes slide-up {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-up {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.goal-buffer {
  background-color: #f7e1ab !important;
  height: auto;
}

.involvement-buffer {
  background-color: #f3e6cc !important;
}

.diversity-buffer {
  background-color: #f2e4c3 !important;
}

.carousel-control-next-icon:after,
.carousel-control-prev-icon:after {
  content: none !important;
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23fff"%3e%3cpath d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/%3e%3c/svg%3e') !important;
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23fff"%3e%3cpath d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e');
}

.carousel-caption h5 {
  color: #f8f3dc !important;
  font-family: "Stint Ultra Expanded", serif;
  font-weight: bold;
  font-size: 1.5rem;
  /* Adjust the font size as needed for larger screens */
}
.carousel-caption p {
  color: #d9c89c !important;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  /* Adjust the font size as needed for larger screens */
}
.carousel-caption .btn-invitation {
  margin-top: 10px !important;
  background-color: transparent;
  color: #f8f3dc !important;
  height: 8% !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #f8f3dc !important;
  padding: 10px 20px;
  font-size: 16px;
}
.carousel-caption .btn-invitation:hover {
  background-color: #d9c89c !important;
  color: black !important;
  border: 2px solid #d9c89c !important;
}

.carousel-caption-button {
  top: 50% !important;
  left: 50% !important;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  -webkit-transform: translate(-50%, -60%) !important;
          transform: translate(-50%, -60%) !important;
}

@media (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 1.2rem;
    /* Adjust the font size for smaller screens */
  }
  .carousel-caption p {
    font-size: 0.9rem;
    /* Adjust the font size for smaller screens */
  }
  .carousel-caption .btn-invitation {
    padding: 8px 16px;
    font-size: 12px;
  }
}
@media (max-width: 525px) {
  .carousel-caption h5 {
    font-size: 1.2rem;
    /* Adjust the font size for smaller screens */
  }
  .carousel-caption p {
    font-size: 0.9rem;
    /* Adjust the font size for smaller screens */
  }
  .carousel-caption .btn-invitation {
    padding: 8px 16px;
    font-size: 12px;
  }
}
.top-left-text {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(227, 255, 233);
  padding: 5px 15px;
  font-size: 2.3rem;
  font-family: "Jost", sans-serif !important;
}

@media (max-width: 855px) {
  .top-left-text {
    font-size: 2.1rem;
  }
}
@media (max-width: 675px) {
  .top-left-text {
    font-size: 1.9rem;
  }
}
@media (max-width: 445px) {
  .top-left-text {
    font-size: 1.7rem;
  }
}
.slideshow-buffer {
  padding-top: 12px !important;
  height: 34rem;
  max-height: 45rem;
  /* Set the maximum height for the animation text buffer */
  overflow-y: auto;
  /* Add vertical scrollbar if content exceeds the max height */
  background-color: #d9c89c !important;
  color: #211e16 !important;
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 1.85em;
  margin: 0;
  letter-spacing: 0.2rem;
  font-weight: bold;
  padding: 10px;
  /* Add some padding for better spacing */
  border: 1px solid #ccc;
  /* Add a border for better separation */
}

.carousel-item img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
}

.card {
  width: 100%;
}
.card .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  /*transform: translateY(-60%)!important;*/
}

/******************************************************   Footer section    ******************************************/
footer {
  background-color: rgb(44, 23, 9) !important;
  padding-left: 30px !important;
}
footer .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .subscribe-section {
  padding-bottom: 60px !important;
}
footer .txt-emailAddress {
  margin-right: 8px !important;
}
footer .footer-bottom {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
footer h5 {
  color: bisque;
}
footer p {
  color: #f4f4f4;
}
footer .nav-link {
  color: #ccc !important;
}
footer .btn-subscribe {
  background-color: #d9c89c !important;
  color: #211e16 !important;
}
footer .btn-subscribe:hover {
  background-color: #211e16 !important;
  color: #d9c89c !important;
  border: 2px solid #d9c89c !important;
}

.footer-bottom img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 500px) {
  .subscribe-form {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
}
/**************************************************  About main page  ****************************************************/
.picture-with-text {
  background-color: #403415 !important;
}
.picture-with-text .card-text {
  /*font-family: 'Stint Ultra Expanded', serif;*/
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 40;
}
.picture-with-text .vision-buffer {
  background-image: url("Images/wordSourcedImages/entrepreneur-endeavour-resized.jpg") !important;
  width: 300px !important;
  height: 200px !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

/***************************************************  Join Us Page    ******************************************************/
.section_googleFormAlke {
  background-color: rgb(47, 15, 15);
}

.googleFormAlke {
  overflow: hidden;
  margin: auto;
  width: 90%;
  margin-left: 6%;
  padding: 5px;
}
